

include/
tmp/
.editorconfig
build.tina
flake.nix
flake.lock
highlight.css
deps/build/tina/dl.tar
deps/build/tina/prebuilt.tar.gz
deps/build/tina/gcc-linaro-7.2.1-2017.11-x86_64_arm-linux-gnueabi.tar.xz
deps/build/tina/riscv64-linux-x86_64-20200528.tar.xz
deps/build/generic/ubuntu-23.04-preinstalled-server-riscv64+nezha.img.xz
deps/build/mediamtx/go1.20.5.linux-amd64.tar.gz
.env
out/
mnt/
